<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Project By Hemant</h1>
        </div>
    </div>
    <!-- /.row -->
    <div class="row">


        <div class="col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Topic
                </div>
                <div class="panel-body">
                    <p>Get your location and find distance from hosted IP/domain name.</p>
                </div>
                <div class="panel-footer">
                    using freegeoip and google maps API's
                </div>
            </div>
        </div>









        <div class="col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Purpose
                </div>
                <div class="panel-body">
                    <p>A lot of times, I am connected to internet in public place and don't know from where internet signals are coming, I may visit <a href="#yourlocation">Get Your Location</a> in the main navigation and track down internet signal source. This page in the application takes user's location from browser and gives driving direction to the location, which is identified by his IP address used to access internet.</p>
                    <p>Sometimes, I don't want to open a website from xxxx country, country name of hosting itself limelight authenticity of a website. I could visit <a href="#searchanip">Search Domain or IP Location</a> in the main navigation to track down hosting location of an IP/domainName. This page in the application takes user's location from browser (source) and gives driving direction to the location, which is identified by IP address given as input / IP address of the domainName (Destination)  </p>
                </div>
            </div>
        </div>


    </div>
    <!-- /.row -->


    <div class="row">


        <div class="col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Languages / Libraries  
                </div>
                <div class="panel-body">
                    <p>JQuery (2.1.4), AngularJS (1.4.2) with Angular-route (1.4.2) for single page app backbone.</p>
                    <p>freegeoip.net for location by IP.</p>
                    <p>maps.googleapis.com to get user&#39;s current device/browser location , and detect/display driving directions.</p>
                    <p>Bootstrap (3.3.5) with sb-admin-2 theme, font-awesome, metisMenu for desktop/mobile friendly UI.</p>
                </div>

            </div>
        </div>





        <div class="col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Tools Utilized 
                </div>
                <div class="panel-body">
                    <p>Microsoft Visual Studio 2012 for development.</p>
                    <p>PhoneGap just for Mobile testing.</p>

                </div>

            </div>
        </div>









    </div>
    <!-- /.row -->



    <div class="row">


        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Code Description 
                </div>
                <div class="panel-body">
                    <p>
                        <a target="_blank" href="//bitbucket.org/hemantup/project3/raw/HEAD/scripts/myservice.js"><strong>myservice.js</strong></a>: This contains the main angular custom services built driving controllers in <a href="//bitbucket.org/hemantup/project3/raw/HEAD/scripts/visitorlocation.js" target="_blank">visitorlocation.js</a> , <a href="//bitbucket.org/hemantup/project3/raw/HEAD/scripts/searchip.js" target="_blank">searchip.js</a> and <a href="//bitbucket.org/hemantup/project3/raw/HEAD/scripts/contactus.js" target="_blank">contactus.js</a>
                        <br />
                        Custom Services in the js file <a target="_blank" href="//bitbucket.org/hemantup/project3/raw/HEAD/scripts/myservice.js">myservice.js</a> --><br />
                        geoipService- Talks to external geoIP service to get IP and details like latitude/longitude.<br />
                        googleService- Talks to external Google map API's , reference for which is added in <a target="_blank" href="//bitbucket.org/hemantup/project3/raw/HEAD/index.html">index.html</a>.<br />
                        myGeolocation-is used to get latitude and longitude of user's browser.<br/>
                        See comments section (<a target="_blank" href="//bitbucket.org/hemantup/project3/raw/HEAD/scripts/myservice.js">click here</a>) in code for further details.

                    </p>
                   

                    <p>

                        <a target="_blank" href="//bitbucket.org/hemantup/project3/raw/HEAD/index.html"><strong>index.html</strong>:</a> This is the single page, which loads the entire html based on controller requested. This app may be very well termed as a single page app containing only one page - index.html which loads required components. Default load for index.html is <a href="//bitbucket.org/hemantup/project3/raw/HEAD/parts/introduction.html" target="_blank">introduction.html</a>.
                    </p>

                    <p>

                        <a target="_blank" href="//bitbucket.org/hemantup/project3/raw/HEAD/parts/introduction.html"><strong>introduction.html</strong>:</a> [current html you are viewing] This view simply welcomes a user. It also list details of the project and its components. There is no associated controller for this view.
                    </p>

                       <p>

                        <a target="_blank" href="//bitbucket.org/hemantup/project3/raw/HEAD/parts/visitorlocation.html"><strong>visitorlocation.html</strong>:</a> This view is associated with controller in <a href="//bitbucket.org/hemantup/project3/raw/HEAD/scripts/visitorlocation.js" target="_blank">visitorlocation.js</a>. Actions in this controller achieved with help of services-<br/>
See comments section (<a target="_blank" href="//bitbucket.org/hemantup/project3/raw/HEAD/scripts/visitorlocation.js">click here</a>) in code for further details.
                    </p>

                    <p>

                        <a target="_blank" href="//bitbucket.org/hemantup/project3/raw/HEAD/parts/searchip.html"><strong>searchip.html</strong>:</a> This view is associated with controller in <a href="//bitbucket.org/hemantup/project3/raw/HEAD/scripts/searchip.js" target="_blank">searchip.js</a>.
                        <br/>User enter a domainName or IP address. This value is processed in the function callTheMagic further on click of search. <br/> Actions in this function achieved with help of services-<br/>
                        See comments section (<a target="_blank" href="//bitbucket.org/hemantup/project3/raw/HEAD/scripts/searchip.js">click here</a>) in code for further details.
                    </p>

                    <p>

                        <a target="_blank" href="//bitbucket.org/hemantup/project3/raw/HEAD/parts/contactus.html"><strong>contactus.html</strong>:</a> This view is associated with controller in <a href="//bitbucket.org/hemantup/project3/raw/HEAD/scripts/contactus.js" target="_blank">contactus.js</a>. It gives driving directions to Fort Hays State University.
                    </p>
                      <p>

                          <a target="_blank" href="//bitbucket.org/hemantup/project3/raw/HEAD/scripts/myapp.js"><strong>myapp.js</strong>:</a> The routes are defined here.<br/>

                    </p>
                </div>
                <div class="panel-footer">
                    Click on links in "<a target="_blank"  href="//bitbucket.org/hemantup/project3">Code Description</a>" to visit bitbucket for code.
                </div>
            </div>
        </div>







    </div>
    <!-- /.row -->

</div>
<!-- /#page-wrapper -->
