        <div ng-controller="searchip" id="page-wrapper">
		          <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="panel panel-default">
				
                        <div  class="panel-body">
                       <div class="table-responsive">

                                <table class="table table-bordered table-hover table-striped">
                                    <thead>
                                    <tr>
                                        <th colspan="2">Input Valid IP or Domain Name</th>
                                    </tr>
                                    </thead>

                                    <tr class="form-group">
                                        <td class="control-label">Domain or IP:&nbsp;</td>
                                        <td>
                                            <input required name="domin_ip" value=""
                                                   type="text" id="domin_ip" class="form-control" maxlength="100"
                                                   placeholder="Domain or IP"/></td>
                                    </tr>
                                    <tr>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                    </tr>
                                    
                                    <tr>
                                
                                        <td colspan="2">
                                            <button  ng-click="searchip.callTheMagic();" id="submitButton" class="btn btn-primary btn-lg" role="button">Submit</button>
                                        </td>
                                    </tr>
                                </table>
								</div>

                        </div> <!--panel-body-->
                    </div><!--panel panel-default-->
                </div><!--col-lg-12-->

            </div><!-- /.row -->
            <div ng-show="searchip.queryExecuted" class="row">
                   <div class="col-lg-12 text-center">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 ng-if="modelData.ip && modelData.ip !='Unable to find.'" class="panel-title">
                                Hosting Location for <span ng-bind="modelData.inputd_p"></span>
                            </h4>
                              <h4 ng-if="!modelData.ip || modelData.ip =='Unable to find.'" class="panel-title">
                                           Need more Inputs
                                        </h4>
                                    </div>
                        <div class="panel-body" >
                            <div class="panel-group" >

                                <div class="panel panel-default">
                                    
                              
                                        <div class="panel-body">
                                           <div id="gppgle2" style="width: 100%; height:300px"></div> 
                                 
                                    </div>
                                </div>


                                <div class="panel panel-default">
                                   
                                
                                        <div class="panel-body">
                                                <div class="table-responsive" >
                                <table class="table table-bordered table-hover tablesorter">
                                    <tbody>
                                    <tr ng-if="modelData.ip"><td>Tgt IP</td><td><span ng-bind="modelData.ip"></span></td></tr>
                                    <tr ng-if="modelData.country_code"><td>Country Code</td><td><span ng-bind="modelData.country_code"></span></td></tr>
                                    <tr ng-if="modelData.country_name"><td>Country Name</td><td><span ng-bind="modelData.country_name"></span></td></tr>
                                    <tr ng-if="modelData.region_code"><td>Region Code</td><td><span ng-bind="modelData.region_code"></span></td></tr>
                                    <tr ng-if="modelData.region_name"><td>Region Name</td><td><span ng-bind="modelData.region_name"></span></td></tr>
                                    <tr ng-if="modelData.city"><td>City</td><td><span ng-bind="modelData.city"></span></td></tr>
                                    <tr ng-if="modelData.zip_code"><td>Zip Code</td><td><span ng-bind="modelData.zip_code"></span></td></tr>
                                    <tr ng-if="modelData.time_zone"><td>Time Zone</td><td><span ng-bind="modelData.time_zone"></span></td></tr>
                                    
                                    <tr ng-if="modelData.latitude"><td>IP Lat.</td><td><span ng-bind="modelData.latitude"></span></td></tr>
                                          <tr ng-if="modelData.longitude"><td>IP Lon.</td><td><span ng-bind="modelData.longitude"></span></td></tr>
                                          <tr ng-if="modelData.brlatitude"><td>Ur Lat.</td><td><span ng-bind="modelData.brlatitude"></span></td></tr>
                                          <tr ng-if="modelData.brongitude"><td>Ur Lon.</td><td><span ng-bind="modelData.brongitude"></span></td></tr>
                                    
                                    </tbody>
                                </table>
                            </div>    </div>
                                  
                                </div>
                            </div>
                                                      
                        <div>
                                
                                            <button  ng-click="searchip.queryExecuted = false;" id="Button1" class="btn btn-primary btn-lg" role="button">Reset</button>
                                       
                                    </div>

                        </div> <!--panel-body-->
                    </div><!--panel panel-default-->
                </div><!--col-lg-12-->

            </div><!-- /.row -->

        </div><!-- /#page-wrapper -->
  