        <div id="page-wrapper" ng-controller="visitorlocation">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                                        <h4 class="panel-title">
                                           Your  Location 
                                        </h4>
                                    </div>
                        <div class="panel-body" >
                            <div class="panel-group" >

                                <div class="panel panel-default">
                                    
                              
                                        <div class="panel-body">
                                           <div id="gppgle2" style="width: 100%; height:300px"></div> 
                                 
                                    </div>
                                </div>


                                <div class="panel panel-default">
                                   
                                
                                        <div class="panel-body">
                                                <div class="table-responsive" >
                                <table class="table table-bordered table-hover tablesorter">
                                    <tbody>
                                    <tr ng-if="modelData.ip"><td>Ur IP</td><td><span ng-bind="modelData.ip"></span></td></tr>
                                    <tr ng-if="modelData.country_code"><td>Country Code</td><td><span ng-bind="modelData.country_code"></span></td></tr>
                                    <tr ng-if="modelData.country_name"><td>Country Name</td><td><span ng-bind="modelData.country_name"></span></td></tr>
                                    <tr ng-if="modelData.region_code"><td>Region Code</td><td><span ng-bind="modelData.region_code"></span></td></tr>
                                    <tr ng-if="modelData.region_name"><td>Region Name</td><td><span ng-bind="modelData.region_name"></span></td></tr>
                                    <tr ng-if="modelData.city"><td>City</td><td><span ng-bind="modelData.city"></span></td></tr>
                                    <tr ng-if="modelData.zip_code"><td>Zip Code</td><td><span ng-bind="modelData.zip_code"></span></td></tr>
                                    <tr ng-if="modelData.time_zone"><td>Time Zone</td><td><span ng-bind="modelData.time_zone"></span></td></tr>
                                   
                                    <tr ng-if="modelData.latitude"><td>IP Lat.</td><td><span ng-bind="modelData.latitude"></span></td></tr>
                                          <tr ng-if="modelData.longitude"><td>IP Lon.</td><td><span ng-bind="modelData.longitude"></span></td></tr>
                                         <tr ng-if="modelData.brlatitude"><td>G Lat.</td><td><span ng-bind="modelData.brlatitude"></span></td></tr>
                                          <tr ng-if="modelData.brongitude"><td>G Lon.</td><td><span ng-bind="modelData.brongitude"></span></td></tr>
                                        
                                    
                                    </tbody>
                                </table>
                            </div>    </div>
                                  
                                </div>
                            </div>
                                                      
                       

                        </div> <!--panel-body-->
                    </div><!--panel panel-default-->
                </div><!--col-lg-12-->

            </div><!-- /.row -->

        </div><!-- /#page-wrapper -->
